body {
    background-image: url('pic 2.png');
    background-repeat: no-repeat;
    background-size: cover;
}
p
 {
    font-style: rgb(255, 255, 255);
    font-style: italic;
    style="color: blue;
}
.div {
    color:#0000FF;
    font-size: 1em;
    font-weight: normal;
    font-variant: small-caps;
    font-family: Andale Mono;
}
#p1{
    color:#0000FF;
    font-size: 1em;
    font-weight: normal;
    font-variant: small-caps;
    font-family: Andale Mono;}